<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="FACTS" value="https://dpas.pkgs.visualstudio.com/_packaging/FACTS.Next/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <FACTS>
      <add key="Username" value="FACTS.Next Feed" />
      <add key="ClearTextPassword" value="jzltrplwbx5gwomju5saoeea4bwzedaerfinewfpjurqyjs3bdgq" />
    </FACTS>
  </packageSourceCredentials>
</configuration>